*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}


.page-mw{
    margin: auto;
    width: 65%;
}


.bg-black{
    background-color: rgb(31, 28, 28);
}


.text-align-center{
    text-align: center;
}


.text-align-left{
    text-align: left;
}


.pt-15{
    padding-top: 15px;
}


.pt-25{
    padding-top: 25px;
}


.text-header{
    font-family: 'Public Sans', sans-serif;
    color: rgba(228, 48, 112, 255)
}

.name-postcard{
    font-family: 'Public Sans', sans-serif;
}

.text-color{
    color: white;
}

.text-font{
    font-weight: 600;
    font-size: 14px;
}

.container-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.card-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.card-width{
    width:30%;
}


.flex-space-between{
    justify-content: space-between;
}


.inline-b{
    display: inline-block;
}

.text-padding{
    padding-top: 5px;
}

img {
    float: left;
}


h3, p{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-size: 14px;
}


.postcard-shadow{
    box-shadow: -2px -4px 8px #888888
}


.card-icons{
    min-width: 255px;
}